<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="userDto" (ngSubmit)="register()">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col
          class="ion-align-self-center"
          size-md="6"
          size-lg="8"
          size-xs="12"
        >
          <div class="ion-text-center">
            <h3>Create your account!</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-label position="floating">USERNAME</ion-label>
              <ion-input
                formControlName="username"
                type="text"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">NAME</ion-label>
              <ion-input
                formControlName="name"
                type="text"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">EMAIL</ion-label>
              <ion-input
                formControlName="email"
                type="email"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <div class="phoneDiv" formArrayName="phone">
              <div
                *ngFor="let item of phones.controls; let phoneIndex=index; first as f;"
                [formGroupName]="phoneIndex"
              >
                <ion-item>
                  <ion-label position="floating"
                    >PHONE {{phoneIndex+1}}</ion-label
                  >

                  <ion-input
                    class="ion-float-left"
                    formControlName="phone"
                    type="number"
                    ngModel
                    required
                  ></ion-input>
                  <ion-button
                    *ngIf="!f"
                    slot="end"
                    color="danger"
                    type="button"
                    (click)="deletePhone(phoneIndex)"
                  >
                    Remove
                  </ion-button>
                </ion-item>
              </div>
              <ion-button
                size="small"
                color="secondary"
                type="button"
                (click)="addPhone()"
                >Add number</ion-button
              >
            </div>
            <ion-item>
              <ion-label position="floating">PASSWORD</ion-label>
              <ion-input
                formControlName="password"
                type="password"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">CONFIRM PASSWORD</ion-label>
              <ion-input
                formControlName="confirmPassword"
                type="password"
                ngModel
                required
              ></ion-input>
            </ion-item>
          </div>
          <div>
            <ion-button
              size="large"
              type="submit"
              [disabled]="userDto.invalid"
              expand="block"
              >Register</ion-button
            >
            <!-- <a routerLink="/profile"> profile</a> -->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  {{this.userDto.value | json}}
</ion-content>
